<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="/posts" method="POST" enctype="multipart/form-data">
        <input type="text" name="author" placeholder="Authour Name"><br>
        <input type="text" name="title" placeholder="Post title"><br>
    <textarea name="post" id="post" cols="30" rows="10" value="type here">
        
    </textarea><br>
    <button type="submit">Post</button><br>
    
    </form>
</body>
</html>